{% extends "base.html" %}
{% block content %}
<body>
    <table width="100%" cellspacing="0" id="index-table">
        <tr>
            <td id="leftcolumn">
                Boards:
                <br>
                <a href="/">/b/ - random</a>
            </td>
            <td id="rightcolumn">
                <form enctype="multipart/form-data" action="reply?to={{ param }}" method="POST">
                    {% csrf_token %}
                    <p id="text-to-center">
                        Name: {{ form.reply_name }}
                        <br>
                        e-mail: {{ form.reply_email }}
                        <br>
                        Message:
                        <br>
                        {{ form.reply_body }}
                        <br>
                        {{ form.image }}
                        <input type="submit" value="Submit"/>
                    </p>
                </form>
                <hr>
                Имя: <b>{{ p.post_subject }}</b> email: {{ p.author_name }} Тред: <b>№{{ p.post_id }}</b>
                    <br>
                <img src="{{ MEDIA_URL }}{{ p.image }}"> {{ p.post_body }}
                <hr>
                {% for reply_posts in r %}
                    Name: <b>{{ reply_posts.reply_name }}</b> email: {{ reply_posts.reply_email }} Reply: <b>№{{ reply_posts.reply_id }}</b>
                    <br>
                    <img src="{{ MEDIA_URL }}{{ reply_posts.image }}"> {{ reply_posts.reply_body }}
                    <hr>
                {% endfor %}
            </td>
        </tr>
    </table>
</body>
{% endblock %}