<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/photon.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MIMchan - /b/ - random</title>
</head>
<body>
    <table width="100%" cellspacing="0" id="index-table">
        <tr>
            <td id="leftcolumn">
                Boards:
                <br>
                <a href="/">/b/ - random</a>
            </td>
            <td id="rightcolumn">
                <form enctype="multipart/form-data" action="reply?to={{ param }}" method="POST">
                    {% csrf_token %}
                    <p id="text-to-center">
                        Имя: {{ form.reply_name }}
                        <br>
                        e-mail: {{ form.reply_email }}
                        <br>
                        Сообщение:
                        <br>
                        {{ form.reply_body }}
                        <br>
                        {{ form.image }}
                        <input type="submit" value="Submit"/>
                    </p>
                </form>
                <hr>
                Имя: <b>{{ p.post_subject }}</b> email: {{ p.author_name }} Тред: <b>№{{ p.post_id }}</b>
                    <br>
                <img src="{{ MEDIA_URL }}{{ p.image }}"> {{ p.post_body }}
                <hr>
                {% for reply_posts in r %}
                    Имя: <b>{{ reply_posts.reply_name }}</b> email: {{ reply_posts.reply_email }} Ответ: <b>№{{ reply_posts.reply_id }}</b>
                    <br>
                    <img src="{{ MEDIA_URL }}{{ reply_posts.image }}"> {{ reply_posts.reply_body }}
                    <hr>
                {% endfor %}
            </td>
        </tr>
    </table>
</body>
</html>